.App {
    text-align: center;
    background-color: #35363a;
}

.optionAbsolute {
    overflow: hidden;
    width: 95%;
}

.optionAbsoluteTop {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 13vh;
}

.optionAbsoluteBottom {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 53vh;
}

.imageOptionContainer {
    display: flex;
    flex-direction: row;
}

.imageOption {
    width: 25%;
    height: 33vh;
    object-fit: cover;
    opacity: 0.4;
    overflow: -moz-hidden-unscrollable
}

.optionText {
    color: white;
    font-size: 11vh;
    text-shadow: 5px 5px black;
}

.optionCenteredTop {
    position: inherit;
    top: 23%;
    left: 50%;
    transform: translate(-50%, 0);
}

.optionCenteredDown {
    position: inherit;
    top: 0%;
    left: 50%;
    transform: translate(-50%, +50%);
}

.optionSpacer {
    height: 7vh;

}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: transparent;
}

.splitScreen {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.topPane {
    grid-column: 1;
    grid-row: 1;
}

.bottomPane {
    grid-column: 2;
    grid-row: 1;
}

.metaloBackground {
    background-image: url(../src/assets/metalo.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.paintingBackground {
    background-image: url(../src/assets/painting.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.blackOverlay {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.52;
}

.box {
    height: 100vh;
    text-align: center;
}

.homepageText {
    color: white;
    font-size: 6vw;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.textcenter {
    height: 40vh;
    /* box for text centering */
}

.header {
    background-color: #35363a;
    height: 7vh;
    text-align: center;
}

.zoom {
    transition: transform .1s;
    /* Animation */
}

.zoom:hover {
    cursor: pointer;
    /* change cursor */
    transform: scale(1.2);
    /* increase size */
}

.zoomS {
    transition: transform .1s;
    /* Animation */
}

.zoomS:hover {
    cursor: pointer;
    /* change cursor */
    transform: scale(1.1);
    /* increase size */
}